@page "{id?}"
@model APIViewWeb.Pages.Assemblies.ReviewPageModel
@{
    ViewData["Title"] = "Review";
}

@if (Model.Review.UpdateAvailable)
{
    <div class="alert alert-warning" role="alert">
        <form asp-page-handler="RefreshModel" class=".form-inline" method="post" asp-route-id="@Model.Review.ReviewId">
            Your code review uses older format and can be updated
            <button type="submit" class="btn btn-link">Update model</button>
        </form>
    </div>
}


<div class="row">
    <div class="col-2">

        @if (Model.CodeFile != null)
        {
            <partial name="Shared/Navigation" model=" Model.CodeFile.Navigation"/>
        }
     </div>

    <div class="col-10">
        <table class="code border">
            <tbody>
            @foreach (var line in Model.Lines) {
                <tr class="code-line" data-line-id="@line.ElementId">
                    <td class="code-line-add-cell">@if (line.ElementId != null) {<a class="code-line-add-cell-button">+</a>}</td>
                    <td class="code-line-code-cell">@Html.Raw(line.DisplayString)</td>
                </tr>
                <tr>
                @if (line.Diagnostics.Any())
                {
                    <td></td>
                    <td class="code-diagnostics">
                        @foreach (var lineDiagnostic in line.Diagnostics)
                        {
                        <p>
                            @if (lineDiagnostic.Text.StartsWith("DO"))
                            {
                                @:✅ <b>DO</b> @lineDiagnostic.Text.Substring(2)
                            }
                            else
                            {
                                @lineDiagnostic.Text
                            }
                            <a href="@lineDiagnostic.HelpLinkUri">Details</a>
                        </p>
                        }
                    </td>
                }
                </tr>

                @if (line.ElementId != null && Model.Comments.TryGetThreadForLine(line.ElementId, out var thread)) {
                    <partial name="_CommentThreadPartial" model="thread" />
                }
            }
            </tbody>

        </table>
    </div>
</div>
<div id="comment-form-template">
    <div class="new-comment">
        <form class="new-comment-form" method="post" asp-route-id="@Model.Review.ReviewId">
            <input type="hidden" asp-for="Comment.ElementId" class="elementIdInput" />
            <div class="new-comment-content">
                <textarea class="new-comment-content-text form-control" asp-for="Comment.Comment" rows="3"></textarea>
            </div>
            <button data-post-update="comments" type="submit" name="submit" value="Submit" class="new-comment-submit-button btn btn-outline-dark">Add Comment</button>
            <button type="button" name="cancel" value="Cancel" class="new-comment-cancel-button btn btn-outline-dark">Cancel</button>
        </form>
    </div>
</div>